<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="/images/properties.png"/>

    <title>Register | Leaf</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script defer src="/js/jquery.min.js"></script>
    <script defer src="/js/bootstrap.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/authentication.css">

    <!-- JS -->
    <script defer src="/js/authentication.js"></script>

</head>
<body>
    <section class="container d-flex align-items-center flex-column" style="height: 100vh;">

            <ul class="nav nav-pills d-flex justify-content-center mt-auto" id="pills-tab">
                <li class="nav-item">
                    <a class="nav-link btn-lg" href="/login" id="pills-login-tab">Log-in</a>
                </li>
                <span class="mx-3 d-flex align-items-center"><h5><small>or</small></h5></span>
                <li class="nav-item">
                    <a class="nav-link btn-lg active" href="javascript: void 0" id="pills-register-tab">Register</a>
                </li>
            </ul>
    
            <!--Register-->
            <div class="col-6 mx-auto mb-auto mt-5 pb-5">
    
                <form method="post" action="/register">
                    <div class="form-row">
                        <!--Name-->
                        <div class="form-group col-md-6" id="name-form">
                            <label for="name">Name</label>
                            <input class="form-control" type="text" id="name" name="name" required>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                    
                        <!--Surname-->
                        <div class="form-group col-md-6" id="name-form">
                            <label for="name">Surname</label>
                            <input class="form-control" type="text" id="surname" name="surname" required>
                            <div class="invalid-feedback">
                            </div>
                        </div>

                    </div>
                    
    
                    <!--Username-->
                    <div class="form-group" id="username-form">
                        <label for="username">Username</label>
                        <div class="input-group ">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="validatedInputGroupPrepend">@</span>
                            </div>
                            <input type="text" id="username" name="username" class="form-control rounded-right" required>
                            <div class="valid-feedback">
                                Username available.
                            </div>
                            <div class="invalid-feedback">
                            </div>
                          </div>
                    </div>
    
                    <!--Email-->
                    <div class="form-group" id="email-form">
                        <label for="email">Email </label>
                        <input class="form-control" type="email" id="email" name="email" required>
                        <div class="invalid-feedback">
                        </div>
                    </div>

                    <!--DB Code-->
                    <div class="form-group" id="code-form">
                        <label for="rep-password">DB Code</label>
                        <input class="form-control" type="text" id="code" name="code" required>
                        <div class="invalid-feedback">
                        </div>
                    </div>
    
                    <!--Submit-->
                    <input class="btn btn-primary" type="submit" id="submit">
    
                </form>
    
            </div><!--Register-->


    </section>
    <a class="btn btn-outline-success position-fixed" href="/" style="bottom: 60px; left: 60px;">
        <svg class="bi bi-chevron-left mb-1 mr-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/>
        </svg>
        Go Back
    </a>

</body>
</html>