<!DOCTYPE html>
<html lang="en" id="status404">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="/images/properties.png"/>

    <title>Leaf - Home</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script defer src="/js/jquery.min.js"></script>
    <script defer src="/js/bootstrap.min.js"></script>

    <!-- Socket  -->
    <script defer src="/socket.io/socket.io.js"></script>

    <!-- Moment -->
    <script defer src="/js/moment.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- JS -->
    <script defer src="/js/main.js"></script>
    
</head>
<body class="bg-success">
    <!-- PAGE FOR NON-USERS -->
    <!-- MAX LENGTH FOR POST -->
    <!-- MAKE ADMIN ACCOUNT AND MANAGEMENT SYSTEM {admin: true}-->
    <!-- MAKE POSTS DIMISSABLE FOR ADMIN -->

    <section class="container">
        <h1 class="text-center text-white mt-5">4<img class="mb-4 mx-2" src="/images/earth.png" height="130" width="130">4</h1>
        <h2 class="text-white text-center"><strong> Ops... Wrong page :(  CREATE MORE BUTTONS</strong></p>
    </section>
</body>
</html>